* {
  box-sizing: border-box;
  text-align: center;
  padding: 0.2em;
}

main {
  width: 30%;
  margin: auto;
}

button {
  border-radius: 5px;
  background-color: lightgray;
  padding: 0.5em;
  padding-inline: 1em;
}

#input-form {
  padding: 0.5em;
  border-radius: 5px;
  margin-bottom: 2em;
}

#delete-button {
  margin-left: 1em;
  padding-inline: 1.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#list-item {
  margin: 0;
  font-size: 1.2em;
  /* width: 50%; */
  margin: auto;
}

.list-container {
  width: 100%;
  margin: auto;
}
